$color-primary: black;
$color-primary-light: rgb(226, 220, 220);
$color-secondary: rgb(94, 110, 215);
$color-secondary-light: rgb(149, 214, 149);

$background-gradient: linear-gradient(to left, #fff7ca, #ffe1cb, #e5d0ee, #d4d5e4, #d3e4dc, #ccf2cb);