.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &__dateSelect{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
}