@import '../../styles/colors.scss';

.calendarDay{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;    

    &__today{
        background: $color-secondary-light;
    }
}