@import '../../../styles/colors.scss';

.addEventButton{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & svg {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
    }
}